@model Events.Domain.Event

@{
    Layout = "_Layout";
    ViewData["Title"] = "Create";
}

<style type="text/css">
    .image-container {
        background-image: url(../libled.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    .text-bg-custom {
        background-color: #205aa0;
        color: #fff !important;
    }
</style>

<div class="container">
    <div class="row">
        <div class="col-6 col-md-3 text-bg-custom text-center">
            <p class="fw-light fs-1 my-2">Ürituse lisamine</p>
        </div>
        <div class="col-md-8 image-container">
        </div>
    </div>
</div>

<div class="container mx-auto">
    <div class="row justify-content-md-center">
        <div class="col-md-5">
            <p class="py-3 fw-light fs-2">Ürituse lisamine</p>

            <form asp-controller="Events" asp-action="">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="EventId" />
                <div class="form-group py-1">
                    <div class="row">
                        <label asp-for="EventTitle" class="col-sm-4 col-form-label">Ürituse nimi:</label>
                        <div class="col-sm-8">
                            <input asp-for="EventTitle" class="form-control" />
                            <span asp-validation-for="EventTitle" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="form-group py-1">
                    <div class="row">
                        <label asp-for="Date" class="col-sm-4 col-form-label">Toimumisaeg:</label>
                        <div class="col-sm-8">
                            <input asp-for="Date" class="form-control" placeholder="pp.kk.aaaa hh:mm" />
                            <span asp-validation-for="Date" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="form-group py-1">
                    <div class="row">
                        <label asp-for="EventVenue" class="col-sm-4 col-form-label">Koht:</label>
                        <div class="col-sm-8">
                            <input asp-for="EventVenue" class="form-control" />
                            <span asp-validation-for="EventVenue" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="form-group py-1">
                    <div class="row">
                        <label asp-for="EventDescription" class="col-sm-4 col-form-label">Lisainfo:</label>
                        <div class="col-sm-8">
                            <textarea rows="2" asp-for="EventDescription" class="form-control" ></textarea>
                            <span asp-validation-for="EventDescription" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="form-group pt-5">
                    <a asp-controller="Home" asp-action="Index" role="button" class="btn btn-secondary">Tagasi</a>
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>

        </div>
    </div>
</div>


<div>
    <a asp-controller="Home" asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
