@model IEnumerable<Events.Domain.Event>

@{
    Layout = "_Layout";
    ViewData["Title"] = "Home Page";
}


<div class="card text-bg-light mb-3">
    <div class="card-header text-center">Tulevased üritused</div>
    <div class="card-body">
        <table class="table">

        </table>
    </div>
</div>