@model string

<div class="container">
    <div class="row">
        <div class="col col-md-3 text-bg-custom text-center">
            <p class="fw-light fs-1 my-2">@Model</p>
        </div>
        <div class="col image-container">
        </div>
    </div>
</div>